<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% include 'head.html' %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h2>编辑</h2>
	</div>
	<div class="row">
		<div>
			<button type="button" class="btn btn-info" id="item_insert" data-toggle="modal" data-target="#my_insert">新增数据</button>
			<button type="button" class="btn btn-info" onclick="location.href='{{ url_for('export_xml')}}'">导出Excel</button>
		</div>

		<br/>
		<table class="table">
			<tr>
				{% for item in pro_arr %}
				<th>
					{{ item[0] }}
				</th>
				{% endfor %}
				<th>操作</th>
			</tr>
			{% for item in info_arr %}
			<tr>
				{% for p_item in pro_arr %}
				<td item_name="{{ p_item[1] }}">
					{{ item[p_item[1]] }}
				</td>
				{% endfor %}
				<td>
					<button type="button" class="btn btn-info item_edit" item_id="{{ item['id'] }}" data-toggle="modal" data-target="#myModal">修改</button>
					<button type="button" class="btn btn-danger item_del" item_id="{{ item['id'] }}">删除</button>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改属性</h4>
      </div>
      <div class="modal-body">
		  <table class="table">
			  {% for item in pro_arr %}
			  <tr>
				  <td>{{ item[0] }}</td>
				  <td>
					  <input id="update_{{ item[1] }}" value="" type="text">
				  </td>
			  </tr>
			  {% endfor %}
		  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="update_save">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="my_insert" tabindex="-1" role="dialog" aria-labelledby="my_insert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">增加数据</h4>
      </div>
      <div class="modal-body">
		  <table class="table">
			  {% for item in pro_arr %}
			  <tr>
				  <td>{{ item[0] }}</td>
				  <td>
					  <input id="insert_{{ item[1] }}" value="" type="text">
				  </td>
			  </tr>
			  {% endfor %}
		  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="insert_save">保存</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
	$('document').ready(function(){
	    var excludeSpecial = function(s) {
    		// 去掉转义字符
    		s = s.replace(/[\'\"\\\/\b\f\n\r\t]/g, '');
    		// 去掉特殊字符
    		s = s.replace(/[\@\#\$\%\^\&\*\{\}\:\"\L\<\>\?]/);
    		return s;
 		};

		$(".item_edit").click(function(){
			i_id   = $(this).attr('item_id')
		    $(this).parent().prevAll().each(function(){
		        i_name = $(this).attr('item_name')
		        i_value =$(this).html()
				i_value = excludeSpecial(i_value)
				$('#update_' + i_name).val(i_value)
				$('#update_' + i_name).attr("old_value", i_value)

			})

			$('#update_save').click(function(){
			    var info_dict = {'id':i_id}
				{% for item in pro_arr %}
					info_dict['{{ item[1] }}_new'] = $('#update_{{ item[1] }}').val()
					info_dict['{{ item[1] }}_old'] = $('#update_{{ item[1] }}').attr('old_value')
				{% endfor %}

				$.post(
				    "/update_save",
					info_dict,
					function(result){
    					if(result == '1'){
    					    alert('succeed.')
							window.location.href="/edit"
						}
  					}
				);


			})

		})

		$("#item_insert").click(function(){
			$('#insert_save').click(function(){
			    var info_dict = {}
				{% for item in pro_arr %}
					info_dict['{{ item[1] }}'] = $('#insert_{{ item[1] }}').val()
				{% endfor %}

				$.post(
				    "/insert_save",
					info_dict,
					function(result){
    					if(result == '1'){
    					    alert('succeed.')
							window.location.href="/edit"
						}
  					}
				);
			})
		})

		$(".item_del").click(function(){
			i_id   = $(this).attr('item_id')

			var info_dict = {'id' : i_id}
		    $(this).parent().prevAll().each(function(){
		        i_name = $(this).attr('item_name')
		        i_value =$(this).html()
				i_value = excludeSpecial(i_value)
				info_dict[i_name] = i_value
			})

			$.post(
				"/delete_save",
				info_dict,
				function(result){
					if(result == '1'){
						alert('succeed.')
						window.location.href="/edit"
					}
				}
			);
		})

	})
</script>

{% endblock %}
